@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #f7f1e3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-container
{
    padding: 25px 30px;
    max-width: 350px;
    background-image: linear-gradient(#edeeff, #d8dcfd);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.movie-recommendations
{
    text-transform: uppercase;
}

.card-content
{
    text-align: center;
}

.card-content .movie-poster
{
    max-width: 100%;
    border-radius: 15px;
    
}

.movie-title
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #84817a;
    letter-spacing: 1px;
}

.rating
{
    margin: 15px 0 15px;
}

.rating i
{
    font-size: 14px;
    color: #999;
}

.rating i.active
{
    color: #ecaa3a;
}

.rating i:not(:last-child)
{
    margin-right: 3px;
}

.about-text
{
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1px;
}